<!-- apps/blog/templates/blog/post_list.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}


{% block content %}

	<!-- hero section -->
	<section id="hero">

		<div class="container-xl">

			<div class="row gy-4">

				<div class="col-lg-8">
					
					<!-- ================ POST BY FEATURED ===================-->

					<!-- featured post large -->
					<div class="post featured-post-lg">
						{% if post_featured %}
							{% for featured in post_featured %}
							<div class="details clearfix">
								<a href="category.html" class="category-badge">{{featured.category_id.category_name}}</a>
								<h2 class="post-title"><a href="blog-single.html">{{featured.post_title|title}}</a></h2>
								<ul class="meta list-inline mb-0">
									<li class="list-inline-item"><a href="#">{{featured.author_id.author_name|title}}</a></li>
									<li class="list-inline-item">{{featured.post_publish}}</li>
								</ul>
							</div>
							<a href="blog-single.html">
								<div class="thumb rounded">
									<div class="inner data-bg-image" data-bg-image="{{featured.post_thumbnail.url}}"></div>
								</div>
							</a>
							{% endfor %}
						{% else %}
						<div >
							<p class="post-title" style="color:#FE7F7D;">No featured posts found</p>
						</div>
						{% endif %}
					</div>

				</div>

				<div class="col-lg-4">

					<!-- post tabs -->
					<div class="post-tabs rounded bordered">
						<!-- tab navs -->
						<ul class="nav nav-tabs nav-pills nav-fill" id="postsTab" role="tablist">
							<li class="nav-item" role="presentation"><button aria-controls="popular" aria-selected="true" class="nav-link active" data-bs-target="#popular" data-bs-toggle="tab" id="popular-tab" role="tab" type="button">Popular</button></li>
							<li class="nav-item" role="presentation"><button aria-controls="recent" aria-selected="false" class="nav-link" data-bs-target="#recent" data-bs-toggle="tab" id="recent-tab" role="tab" type="button">Recent</button></li>
						</ul>
						<!-- tab contents -->
						<div class="tab-content" id="postsTabContent">
							<!-- loader -->
							<div class="lds-dual-ring"></div>
							<!-- popular posts -->
							<div aria-labelledby="popular-tab" class="tab-pane fade show active" id="popular" role="tabpanel">
								<!-- post -->
								<div class="post post-list-sm circle">
									<div class="thumb circle">
										<a href="blog-single.html">
											<div class="inner">
												<img src="{% static 'images/posts/tabs-1.jpg' %}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="blog-single.html">3 Easy Ways To Make Your iPhone Faster</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">29 March 2021</li>
										</ul>
									</div>
								</div>
								<!-- post -->
								<div class="post post-list-sm circle">
									<div class="thumb circle">
										<a href="blog-single.html">
											<div class="inner">
												<img src="{% static 'images/posts/tabs-2.jpg' %}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="blog-single.html">An Incredibly Easy Method That Works For All</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">29 March 2021</li>
										</ul>
									</div>
								</div>
								<!-- post -->
								<div class="post post-list-sm circle">
									<div class="thumb circle">
										<a href="blog-single.html">
											<div class="inner">
												<img src="{% static 'images/posts/tabs-3.jpg' %}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="blog-single.html">10 Ways To Immediately Start Selling Furniture</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">29 March 2021</li>
										</ul>
									</div>
								</div>
								<!-- post -->
								<div class="post post-list-sm circle">
									<div class="thumb circle">
										<a href="blog-single.html">
											<div class="inner">
												<img src="{% static 'images/posts/tabs-4.jpg' %}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="blog-single.html">15 Unheard Ways To Achieve Greater Walker</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">29 March 2021</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- recent posts -->
							<div aria-labelledby="recent-tab" class="tab-pane fade" id="recent" role="tabpanel">
								<!-- post -->
								<div class="post post-list-sm circle">
									<div class="thumb circle">
										<a href="blog-single.html">
											<div class="inner">
												<img src="{% static 'images/posts/tabs-2.jpg' %}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="blog-single.html">An Incredibly Easy Method That Works For All</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">29 March 2021</li>
										</ul>
									</div>
								</div>
								<!-- post -->
								<div class="post post-list-sm circle">
									<div class="thumb circle">
										<a href="blog-single.html">
											<div class="inner">
												<img src="{% static 'images/posts/tabs-1.jpg' %}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="blog-single.html">3 Easy Ways To Make Your iPhone Faster</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">29 March 2021</li>
										</ul>
									</div>
								</div>
								<!-- post -->
								<div class="post post-list-sm circle">
									<div class="thumb circle">
										<a href="blog-single.html">
											<div class="inner">
												<img src="{% static 'images/posts/tabs-4.jpg' %}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="blog-single.html">15 Unheard Ways To Achieve Greater Walker</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">29 March 2021</li>
										</ul>
									</div>
								</div>
								<!-- post -->
								<div class="post post-list-sm circle">
									<div class="thumb circle">
										<a href="blog-single.html">
											<div class="inner">
												<img src="{% static 'images/posts/tabs-3.jpg' %}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="blog-single.html">10 Ways To Immediately Start Selling Furniture</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">29 March 2021</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section>

	<!-- section main content -->
	<section class="main-content">
		<div class="container-xl">

			<div class="row gy-4">

				<div class="col-lg-8">

					<!-- ================ POST BY EDITOR'S PICK ===================-->

					<!-- section header -->
					<div class="section-header">
						<h3 class="section-title">Editor’s Pick</h3>
						<img src="{% static 'images/wave.svg' %}" class="wave" alt="wave" />
					</div>

					<div class="padding-30 rounded bordered">
						<div class="row gy-5">

							<!-- Editor's picks post by category -->
							<div class="col-sm-6">
								<!-- post -->
								{% if post_editor_pick_1 %}
								{% for editorpick in post_editor_pick_1 %}
								<div class="post">
									<div class="thumb rounded">
										<a href="category.html" class="category-badge position-absolute">{{editorpick.category_id.category_name}}</a>
										<span class="post-format">
											<i class="icon-picture"></i>
										</span>
										<a href="blog-single.html">
											<div class="inner">
												<img src="{{editorpick.post_thumbnail.url}}" alt="post-title" />
											</div>
										</a>
									</div>
									<ul class="meta list-inline mt-4 mb-0">
										<li class="list-inline-item"><a href="#"><img src="{{editorpick.author_id.author_thumbnail.url}}" class="author" alt="author"/>{{editorpick.author_id.author_name|title}}</a></li>
										<li class="list-inline-item">{{editorpick.post_publish}}</li>
									</ul>
									<h5 class="post-title mb-3 mt-3"><a href="blog-single.html">{{editorpick.post_title|title}}</a></h5>
									<p class="excerpt mb-0">{{editorpick.post_content|slice:"70"}}</p>
								</div>
								{% endfor %}
								{% else %}
								<div class="post">
									<p style="color:#FE7F7D;">No posts editor's pick found</p>
								</div>
								{% endif %}

							</div>
							<!-- End Editor's picks post by category -->

							<div class="col-sm-6">
								<!-- post -->
								{% if post_editor_pick_4 %}
								{% for editorpick in post_editor_pick_4%}
								<div class="post post-list-sm square">
									<div class="thumb rounded">
										<a href="blog-single.html">
											<div class="inner">
												<img src="{{editorpick.post_thumbnail.url}}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="blog-single.html">{{editorpick.post_title|title}}</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">{{editorpick.post_publish}}</li>
											<li class="list-inline-item">
												<a href="#" style="color:#FF7C7D;">
												{{editorpick.category_id.category_name}}</a>
											</li>
										</ul>
									</div>
								</div>
								{% endfor %}
								{% else %}
								<div class="post post-list-sm square">
									<p style="color:#FE7F7D;">No posts editor's pick found</p>
								</div>
								{% endif %}
							</div>
						</div>
					</div>

					<div class="spacer" data-height="50"></div>

					<!-- horizontal ads -->
					<div class="ads-horizontal text-md-center">
						<span class="ads-title">- Sponsored Ad -</span>
						<a href="#">
							<img src="{% static 'images/ads/ad-750.png' %}" alt="Advertisement" />
						</a>
					</div>

					<div class="spacer" data-height="50"></div>

					<!-- ================ POST BY TRENDING ===================-->

					<!-- section header -->
					<div class="section-header">
						<h3 class="section-title">Trending</h3>
						<img src="{% static 'images/wave.svg' %}" class="wave" alt="wave" />
					</div>

					<div class="padding-30 rounded bordered">
						<div class="row gy-5">

							<!-- Posts Large and small -->
							<div class="col-sm-6">
								<!-- post large -->
								{% if post_trending_large_1 %}
								{% for trendinglarge in post_trending_large_1 %}
								<div class="post">
									<div class="thumb rounded">
										<a href="category.html" class="category-badge position-absolute">{{trendinglarge.category_id.category_name}}</a>
										<span class="post-format">
											<i class="icon-picture"></i>
										</span>
										<a href="blog-single.html">
											<div class="inner">
												<img src="{{trendinglarge.post_thumbnail.url}}" alt="post-title" />
											</div>
										</a>
									</div>
									<ul class="meta list-inline mt-4 mb-0">
										<li class="list-inline-item"><a href="#"><img src="{{trendinglarge.author_id.author_thumbnail.url}}" class="author" alt="author"/>{{trendinglarge.author_id.author_name}}</a></li>
										<li class="list-inline-item">{{trendinglarge.post_publish}}</li>
									</ul>
									<h5 class="post-title mb-3 mt-3"><a href="blog-single.html">{{trendinglarge.post_title|title}}</a></h5>
									<p class="excerpt mb-0">{{trendinglarge.post_content|slice:"70"}}</p>
								</div>
								{% endfor %}
								{% else %}
								<div class="post">
									<p style="color:#FE7F7D;">No posts trending found</p>
								</div>
								{% endif %}
								<!-- post small-->
								{% if post_trending_small_2 %}
								{% for trendingsmall in post_trending_small_2 %}
								<div class="post post-list-sm square before-seperator">
									<div class="thumb rounded">
										<a href="blog-single.html">
											<div class="inner">
												<img src="{{trendingsmall.post_thumbnail.url}}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="blog-single.html">{{trendingsmall.post_title|title}}</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">{{trendingsmall.post_publish}}</li>
											<li class="list-inline-item">
												<a href="#" style="color:#FF7C7D;">{{trendingsmall.category_id.category_name}}</a>
											</li>
										</ul>
									</div>
								</div>
								{% endfor %}
								{% else %}
								<div class="post post-list-sm square before-seperator">
									<p style="color:#FE7F7D;">No posts trending found</p>
								</div>
								{% endif %}
							</div>

							<!-- Posts Large and small -->
							<div class="col-sm-6">
								<!-- post large -->
								{% if post_trending_large_1_1 %}
								{% for trendinglarge in post_trending_large_1_1 %}
								<div class="post">
									<div class="thumb rounded">
										<a href="category.html" class="category-badge position-absolute">{{trendinglarge.category_id.category_name}}</a>
										<span class="post-format">
											<i class="icon-picture"></i>
										</span>
										<a href="blog-single.html">
											<div class="inner">
												<img src="{{trendinglarge.post_thumbnail.url}}" alt="post-title" />
											</div>
										</a>
									</div>
									<ul class="meta list-inline mt-4 mb-0">
										<li class="list-inline-item"><a href="#"><img src="{{trendinglarge.author_id.author_thumbnail.url}}" class="author" alt="author"/>{{trendinglarge.author_id.author_name}}</a></li>
										<li class="list-inline-item">{{trendinglarge.post_publish}}</li>
									</ul>
									<h5 class="post-title mb-3 mt-3"><a href="blog-single.html">{{trendinglarge.post_title|title}}</a></h5>
									<p class="excerpt mb-0">{{trendinglarge.post_content|slice:"70"}}</p>
								</div>
								{% endfor %}
								{% else %}
								<div class="post">
									<p style="color:#FE7F7D;">No posts trending found</p>
								</div>
								{% endif %}
								<!-- post small-->
								{% if post_trending_small_2_2 %}
								{% for trendingsmall in post_trending_small_2_2 %}
								<div class="post post-list-sm square before-seperator">
									<div class="thumb rounded">
										<a href="blog-single.html">
											<div class="inner">
												<img src="{{trendingsmall.post_thumbnail.url}}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details clearfix">
										<h6 class="post-title my-0"><a href="blog-single.html">{{trendingsmall.post_title|title}}</a></h6>
										<ul class="meta list-inline mt-1 mb-0">
											<li class="list-inline-item">{{trendingsmall.post_publish}}</li>
											<li><a href="#" style="color:#FF7C7D;">{{trendingsmall.category_id.category_name}}</a></li>
										</ul>
									</div>
								</div>
								{% endfor %}
								{% else %}
								<div class="post post-list-sm square before-seperator">
									<p style="color:#FE7F7D;">No posts trending found</p>
								</div>
								{% endif %}
							</div>

						</div>
					</div>

					<div class="spacer" data-height="50"></div>

					<!-- ================ POST BY INSPIRATION  ===================-->

					<!-- section header -->
					<div class="section-header">
						<h3 class="section-title">Inspiration</h3>
						<img src="{% static 'images/wave.svg' %}" class="wave" alt="wave" />
						<div class="slick-arrows-top">
							<button type="button" data-role="none" class="carousel-topNav-prev slick-custom-buttons" aria-label="Previous"><i class="icon-arrow-left"></i></button>
							<button type="button" data-role="none" class="carousel-topNav-next slick-custom-buttons" aria-label="Next"><i class="icon-arrow-right"></i></button>
						</div>
					</div>

					<div class="row post-carousel-twoCol post-carousel">
						<!-- post -->
						{% if post_inspiration %}
						{% for inspiration in post_inspiration %}
						<div class="post post-over-content col-md-6">
							<div class="details clearfix">
								<a href="category.html" class="category-badge">{{inspiration.category_id.category_name|title}}</a>
								<h4 class="post-title"><a href="blog-single.html">{{inspiration.post_title|title}}</a></h4>
								<ul class="meta list-inline mb-0">
									<li class="list-inline-item"><a href="#">{{inspiration.author_id.author_name|title}}</a></li>
									<li class="list-inline-item">{{inspiration.post_publish}}</li>
								</ul>
							</div>
							<a href="blog-single.html">
								<div class="thumb rounded">
									<div class="inner">
										<img src="{{inspiration.post_thumbnail.url}}" alt="thumb" />
									</div>
								</div>
							</a>
						</div>
						{% endfor %}
						{% else %}
						<div class="post post-over-content col-md-6">
							<p style="color:#FE7F7D;">No posts inspiration found</p>
						</div>
						{% endif %}
					</div>

					<div class="spacer" data-height="50"></div>


					<!-- ================ LATEST POSTS  ===================-->

					<!-- section header -->
					<div class="section-header">
						<h3 class="section-title">Latest Posts</h3>
						<img src="{% static 'images/wave.svg' %}" class="wave" alt="wave" />
					</div>

					<div class="padding-30 rounded bordered">

						<div class="row">
							{% if post_latest %}
							{% for latest in post_latest %}
							<div class="col-md-12 col-sm-6">
								<!-- post -->
								<div class="post post-list clearfix">
									<div class="thumb rounded">
										<span class="post-format-sm">
											<i class="icon-picture"></i>
										</span>
										<a href="blog-single.html">
											<div class="inner">
												<img src="{{latest.post_thumbnail.url}}" alt="post-title" />
											</div>
										</a>
									</div>
									<div class="details">
										<ul class="meta list-inline mb-3">
											<li class="list-inline-item"><a href="#"><img src="{{latest.author_id.author_thumbnail.url}}" class="author" alt="author"/>{{latest.author_id.author_name|title}}</a></li>
											<li class="list-inline-item">
												
												<a href="#" style="color:#FF7C7D;">{{latest.category_id.category_name}}</a>
												
											</li>
											<li class="list-inline-item">{{latest.post_publish}}</li>
										</ul>
										<h5 class="post-title"><a href="blog-single.html">{{latest.post_title|title}}</a></h5>
										<p class="excerpt mb-0">{{latest.post_content|slice:'100'}}</p>
										<div class="post-bottom clearfix d-flex align-items-center">
											<div class="social-share me-auto">
												<button class="toggle-button icon-share"></button>
												<ul class="icons list-unstyled list-inline mb-0">
													<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
													<li class="list-inline-item"><a href="#"><i class="far fa-envelope"></i></a></li>
												</ul>
											</div>
											<div class="more-button float-end">
												<a href="blog-single.html"><span class="icon-options"></span></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
							{% else %}
							<div class="col-md-12 col-sm-6">
								<p style="color:#FE7F7D;">No posts letest found</p>
							</div>
							{% endif %}

						</div>
						<!-- load more button -->
						<div class="text-center">
							<button class="btn btn-simple">Load More</button>
						</div>

					</div>

				</div>

				<!-- ================ ASIDE  ===================-->				
				<div class="col-lg-4">

					<!-- sidebar -->
					<div class="sidebar">
						<!-- widget about -->
						{% include 'blog/shared/aside_about.html' %}

						<!-- widget popular posts -->
						{% include 'blog/shared/aside_pupular_posts.html' %}

						<!-- widget categories -->
						{% include 'blog/shared/aside_categories.html' %}

						<!-- widget newsletter -->
						{% include 'blog/shared/aside_newsletter.html' %}

						<!-- widget post carousel of celebration -->
						{% include 'blog/shared/aside_celebration.html' %}

						<!-- widget advertisement -->
						{% include 'blog/shared/aside_advertisement.html' %}

						<!-- widget tags -->
						{% include 'blog/shared/aside_tags.html' %}

					</div>

				</div>

			</div>

		</div>
	</section>

	<!-- instagram feed -->
	{% include 'blog/shared/instagram.html' %}

{% endblock content %}